{
    "env": {
        "browser": false,
        "node": true,
        "es6": true,
        "mocha": false
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "script",
        "ecmaFeatures": {
            "globalReturn": true,
            "impliedStrict": false,
            "jsx": false
        }
    },
    "plugins": ["node", "prettier", "mocha", "jsdoc"],
    "extends": ["eslint:recommended", "plugin:node/recommended", "prettier"],
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "single", { "avoidEscape": true }],
        "semi": ["error", "always"],
        "no-console": ["off"],
        "node/exports-style": ["error", "module.exports"],
        "strict": ["error", "global"],
        "jsdoc/check-param-names": 1,
        "jsdoc/check-syntax": 1,
        "jsdoc/check-tag-names": 1,
        "jsdoc/check-types": 1,
        "jsdoc/no-undefined-types": 1,
        "jsdoc/require-param": 1,
        "jsdoc/require-param-description": 1,
        "jsdoc/require-param-name": 1,
        "jsdoc/require-param-type": 1,
        "jsdoc/require-returns": 1,
        "jsdoc/require-returns-check": 1,
        "jsdoc/require-returns-description": 1,
        "jsdoc/require-returns-type": 1,
        "jsdoc/valid-types": 1
    },
    "overrides": [
        {
            "files": ["**/*.test.js", "**/test-init.js"],
            "env": {
                "mocha": true
            },
            "rules": {
                "node/no-unpublished-require": ["off"]
            },
            "globals": {
                "chai": true,
                "expect": true,
                "assert": true,
                "should": true
            }
        }
    ]
}
